<footer class="container">
    <div class="row">
        <div class="col-xs-12">
            {% set year = 'now' | date('Y') %}

            <hr>
            <p>&copy; <a href="http://www.meritoo.pl" target="_blank" title="Meritoo.pl">Meritoo.pl</a> {{ year }}</p>
        </div>
    </div>
</footer>
