# StofDoctrineExtensionsBundle
stof_doctrine_extensions:
    default_locale: '%locale%'
    orm:
        default:
            timestampable: true
            sluggable: true
            softdeleteable: true

# KnpPaginatorBundle
knp_paginator:
    page_range: 10                     # default page range used in pagination control
    default_options:
        page_name: page                # page query parameter name
        sort_field_name: sort          # sort field query parameter name
        sort_direction_name: direction # sort direction query parameter name
        distinct: true                 # ensure distinct results, useful when ORM queries are using GROUP BY statements
    template:
        pagination: 'KnpPaginatorBundle:Pagination:twitter_bootstrap_v3_pagination.html.twig'   # sliding pagination controls template
        sortable: 'KnpPaginatorBundle:Pagination:sortable_link.html.twig'                       # sort link template

# SimpleBusCommandBusBundle
command_bus:
    command_name_resolver_strategy: named_message # or: class_based

# SimpleBusEventBusBundle
event_bus:
    event_name_resolver_strategy: named_message # or: class_based
