services:
    # ----------------------------------------------------------
    # Twig Extension
    # ----------------------------------------------------------
    app.twig_extension:
        class: AppBundle\Twig\Extension\AppTwigExtension
        arguments:
            - '%locale_iso%'
        tags:
            - {name: twig.extension}
    # ----------------------------------------------------------
    # Helper
    # ----------------------------------------------------------
    app.product.helper:
        class: AppBundle\Helper\ProductHelper
        arguments:
            - '@doctrine.orm.entity_manager'
            - '@knp_paginator'
    app.flash.helper:
        class: AppBundle\Helper\FlashHelper
        arguments:
            - '@session'
            - '@translator'
