//
// Online Store
// Common styles of the main container with content
//
// Created on : 2017-05-06
// Author     : Meritoo.pl, http://www.meritoo.pl
// Copyright  : Meritoo.pl
//

section {
    &.content {
        > .container {
            padding-top: $grid-gutter-width * 2 / 3;

            .row {
                &.title {
                    .page-header {
                        margin: 0;
                    }

                    .actions {
                        position: absolute;
                        top: $grid-gutter-width * 1 / 10;
                        right: $grid-gutter-width * 1 / 2;
                    }
                }

                &.content {
                    $padding: $grid-gutter-width * 2 / 3;

                    padding: {
                        top: $padding;
                        bottom: $padding;
                    }
                }
            }
        }
    }
}
